@import "tailwindcss";

@theme {
  --color-navy: #14213d;
  --color-navy-light: #22335c;
  --color-accent: #fca311;
  --color-cream: #f7f5f0;
}

body {
  background-color: var(--color-cream);
  color: #1c1c1c;
}
